{% extends 'base.html.twig' %}
    {% block title %}{{ parent() }} - {{ city }}{% endblock %}
    {% block body %}
        Ilość pomiarów: {{ mesures|length }}
        <div class="list-group">
        {% for mesure in mesures %}
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ mesure.city }}</h5>
                    <small>{{ mesure.timestamp|date("Y-m-d h:i:s") }}</small>
                </div>
                <p class="mb-1">
                    <h1 class="display-4">
                        {{ city }} ({{ mesure.stationId }})
                    </h1>
                    <hr class="my-4">
                    <p class="lead">
                        Temperatura: {{ mesure.temperature }}
                    </p>
                    <p class="lead">
                        Prędkość wiatru: {{ mesure.windSpeed }}
                    </p>
                    <p class="lead">
                        Ciśnienie: {{ mesure.pressure }}
                    </p>
                    <p class="lead">
                        Suma opadów: {{ mesure.rain }}
                    </p>
                    <p class="lead">
                        Wilgotność względna: {{ mesure.humidity }}
                    </p>
                    <div class="js-wind-direction-{{ loop.index }}" data-degrees="{{ mesure.windDirection }}">
                    </div>
                    <img id="arrow-image-{{ loop.index }}" src="{{ asset('build/arrow.png') }}" alt="arrow" />
                </p>
            </a>
        {% else %}
            Nie ma pomiarów.
        {% endfor %}
        </div>
    {% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('cities') }}
{% endblock %}
