{% extends 'base.html.twig' %}
    {% block title %}{{ parent() }} - {{ city }}{% endblock %}
    {% block body %}
        Temperatura: {{ mesurement.temperature }} <br />
        Prędkość wiatru: {{ mesurement.windSpeed }} <br />
        Ciśnienie: {{ mesurement.pressure }} <br />
        <div class="js-wind-direction" data-degrees="{{ mesurement.windDirection }}">
        </div>
        <img id="arrow-image" src="{{ asset('build/arrow.png') }}" alt="arrow" />
        {% if is_granted('ROLE_USER') %}
            <br><a href="cityMesures?city={{ city }}" >Historia pomiarów</a>
        {% endif %}
    {% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('city') }}
{% endblock %}
