{% extends 'base.html.twig' %}
    {% block title %}{{ parent() }} - {{ city }}{% endblock %}
    {% block body %}
        Temperatura: {{ temperature }} <br />
        Prędkość wiatru: {{ windSpeed }} <br />
        Kierunek wiatru: {{ windDirectionDescription }} <br />
        Ciśnienie: {{ pressure }} <br />
        <div class="js-wind-direction" data-degrees="{{ windDirectionDegrees }}">
        </div>
        <img id="arrow-image" src="{{ asset('build/arrow.png') }}" alt="arrow" />
        <br><a href="cityMesures?city={{ city }}" >Historia pomiarów</a>
    {% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('city') }}
{% endblock %}
